/* Общие стили */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #28223f;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  align-items: center;
  min-height: calc(100vh - 100px);
}

h1 {
  color: #febb0b;
}

h3 {
  margin: 10px 0;
}

h6 {
  margin: 5px 0;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  line-height: 21px;
  word-wrap: break-word;
}

li,
a {
  font-size: 14px;
  line-height: 21px;
  color: #b3b8cd;
  text-decoration: none;
  margin: 5px 0;
}

li:hover,
a:hover {
  color: white;
  cursor: pointer;
}

header {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 400px;
  width: 100%;
  border-bottom: 1px solid #03bfcb;
}
.nav__list {
  padding: 20px;
}
button {
  opacity: 1;
}

button:hover {
  opacity: 0.7;
  transition: opacity 1s ease-in;
  cursor: pointer;
}

button:focus {
  border: 1px solid #febb0b;
}

button:active {
  border: 1px solid #03bfcb;
}

.footer {
  color: #fff;
  font-size: 14px;
  margin: 0 auto;
  text-align: center;
}

.footer p {
  margin: 10px 20px;
}
